
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<html>
<head>
    <link href="~/Bootstrap/CSS/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Bootstrap/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Bootstrap/JS/bootstrap.min.js"></script>
    <script src="~/Bootstrap/JS/popper.min.js"></script>
</head>
<body>
    <h1>Delivery Booking System</h1>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" />
        <div class="collapse navbar-collapse" id="navbarSupportContent">
            <ul>
                <li>
                    @Html.ActionLink("Back to HomePage", "Index", "Project")
                </li>
            </ul>

        </div>
    </div>
    <div>
        <p>
           
            Contact No: 7066157008
            <br/>
            Address: Akola MH(30)
        </p>
    </div>
</body>
</html>







