
@{
    ViewBag.Title = "Terms";
}

<h2>Terms</h2>

<html>
<head>
    <link href="~/Bootstrap/CSS/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Bootstrap/JS/bootstrap.bundle.min.js"></script>
    <script src="~/Bootstrap/JS/bootstrap.min.js"></script>
    <script src="~/Bootstrap/JS/popper.min.js"></script>
</head>
<body>
    <h1>Delivery Booking System</h1>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" />
        <div class="collapse navbar-collapse" id="navbarSupportContent">
            <li>
                @Html.ActionLink("Back to HomePage", "Index", "Project")
            </li>
        </div>
            </div>
        

</body>
<p>
    A Terms and Conditions agreement acts as legal contracts between you (the company) who has the website or mobile app, and the user who accesses your website/app. Having a Terms and Conditions agreement is completely optional. No laws require you to have one. Not even the super-strict and wide-reaching General Data Protection Regulation .

    1. Is a Terms and Conditions agreement required?
    A Terms and Conditions agreement is not legally required. However, having one comes with a number of important benefits for both you and your use...
    2. What are the benefits of having a Terms and Conditions agreement?
    The main benefit of having a Terms and Conditions agreement is that you maintain the highest level of control over your website/business . Your Te...
    3. What clauses should be in my Terms and Conditions agreement?
    Some clauses are specific to certain types of businesses and won't be found in all Terms and Conditions agreements. For example, you won't need a c...
</p>
</html>
